@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="preview">

        <div class="previewsecondLevel">Try it myself</div>
        <p class="previewsecondLevelp">Hello World</p>

    </div>

    <div class="preview2">

        <div class="preview2secondLevel">Try it myself with <br /> more style element</div>
        <p class="preview2secondLevelp">Hello World</p>

    </div>



</main>

